Pillow==8.0.1
asgiref==3.2.10
async-timeout==3.0.1
attrs==19.3.0
cffi==1.14.2
chardet==3.0.4
cryptography==3.0
Django==3.0.5
idna==2.10
multidict==4.7.6
mysql-connector-python==8.0.21
protobuf==3.13.0
pycparser==2.20
PyMySQL==0.10.0
pytz==2020.1
six==1.15.0
sqlparse==0.2.4
yarl==1.5.1
